TAURI_SIGNING_PRIVATE_KEY='/Users/limboy/.tauri/localtube.key'
APPLE_ID='xxxx@gmail.com'
APPLE_PASSWORD='aaaa-bbbb-cccc-dddd'
APPLE_TEAM_ID='ABCDE12345'
APPLE_CERTIFICATE_PASSWORD=''
TAURI_SIGNING_PRIVATE_KEY_PASSWORD=''